<!--model corresponde a view list vendedores-->
@model IEnumerable<SalesWebMvc.Models.Vendedor>

@{
    ViewData["Title"] = "Vendedores";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default"> Criar novo</a>
</p>

<table class="table table-hover table-striped ">
    <thead class="bg-info" >
        <tr >
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-group btn-success">Edite</a>
                <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn-group btn-primary">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-group btn-danger">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
